# Ignore Terraform state files and backup files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*.auto.tfvars
.terraform.tfstate.lock.info
tfstate-bootstrap.tfplan
*.log
.idea/
*.iml
.vscode/
*.swp
*.bak
*.tmp


****rraform-generated function packa***
function-source.zip
*.zip

# Py***n
__pycache__/
*.***cod]
.venv/

# Credentials
.env****em****vice-account*.json