project_id = "your-google-cloud-project-id"

region      = "us-central1"
environment = "dev"

topic_name = "orders-topic"

function_name        = "process-order"
function_runtime     = "python312"
function_entry_point = "process_order"
schema_name = "orders-schema"